.app {
    margin-top: 2em;

    &__loader {
        padding: 0 0 2rem;
    }

    &__intro {
        margin-bottom: 2rem;
    }

    &__logo {
        display: inline-block;
        margin-top: 1.5rem;
    }

    &__title {
        margin-top: 3rem;
        margin-bottom: 2rem;

        font-size: 3rem;
        font-weight: 300;
        line-height: 1em;
        text-transform: uppercase;

        strong {
            display: block;

            color: $color-aqua;
            font-weight: 600;
        }
    }

    &__footer {
        margin: 3rem 0 1.5rem;

        color: #999;
        font-size: .8rem;
        text-align: center;

        p + p {
            margin-top: 1rem;
        }
    }
}
