.criteria {
    position: relative;

    min-height: 4rem;
    padding: 1.5rem 0;
    border-top: 2px solid $color-grey;

    @media (min-width: 40em) {
        padding-right: 12rem;
    }

    &:first-child {
        border-top: 0;
    }
}

.criteria__description {
    color: $color-purple;
    font-size: 1.2rem;
}

.criteria__levels {
    display: flex;

    @media (min-width: 40em) {
        position: absolute;
        top: 1.5rem;
        right: 0;
    }
}

.criteria__level {
    position: relative;

    overflow: hidden;
    display: block;
    width: 3.4rem;
    height: 3.4rem;
    margin-left: 0.5rem;

    background-color: #ddd;
    border-radius: 100%;
    color: #fff;

    line-height: 3.4rem;
    text-align: center;
    text-transform: uppercase;

    &:first-child {
        margin-left: 0;
    }

    &--a {
        z-index: 3;

        background-color: $color__a;
    }

    &--aa {
        z-index: 2;

        background-color: $color__aa;
    }

    &--aaa {
        z-index: 1;

        background-color: $color__aaa;
    }

    &--srbp {
        background-color: $color__srbp;
    }

    &--zone {
        background-color: $color__zone;
        background-image: url('../../images/zone-logo.svg');
        background-size: 100%;
        text-indent: 4rem;
    }
}

.criteria__ref {
    margin-top: .25rem;

    color: #989898;
}

.criteria__departments {
    margin-top: .5rem;
    margin-bottom: 1.5rem;

    @media (min-width: 40em) {
        margin-bottom: 0;
    }
}

.criteria__department {
    display: inline-block;

    color: $color-aqua;
    text-transform: uppercase;

    &:before {
        display: inline-block;
        margin: 0 .5rem;

        content: '/'
    }

    &:first-child:before {
        display: none;
    }
}
