.form {
    width: 100%;
    margin-bottom: 2.5rem;

    p + p {
        margin-top: -1rem;
    }

    @media (min-width: 40em) {
        width: 50%;
    }

    label {
        position: absolute;
        left: -999em;
    }
}

input[type="text"],
select {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: .5rem;
    margin: 0;
    border: 0;

    -webkit-appearance: none;
    appearance: none;
    background-color: #f0f0ee;
    border-radius: 0;
    color: $color-dark-grey;
    font: inherit;
}

input[type="text"] {
    margin-bottom: .5rem;

    &::placeholder {
        color: $color-dark-grey;
    }
}

select {
    position: relative;
    z-index: 2;
    padding-right: 2rem;

    background-color: transparent;

    &::-ms-expand {
        display: none;
    }

    .ie-9 & {
        padding-right: .5rem;
    }
}

.select {
    position: relative;

    display: block;
    width: 100%;
    margin-bottom: .5rem;

    background-color: #f0f0ee;

    @media (min-width: 40em) {
        display: inline-block;
        width: 40%;
        margin-right: .5rem;
        margin-bottom: 0;
    }

    &:after {
        position: absolute;
        z-index: 0;
        top: .5rem;
        right: 0;

        display: block;
        width: 2rem;
        height: 1rem;

        color: $color-dark-grey;
        content: '\25bc';
        pointer-events: none;
        text-align: center;

        .ie-9 & {
            display: none;
        }
    }
}
