<!DOCTYPE html>
<html ng-app="accessibilityApp">
    <head>
        <title>Accessibility - Zone</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" type="text/css">
        <link rel="stylesheet" href="dist/styles/app.css" type="text/css">
        <link rel="shortcut icon" href="images/favicon.ico">
        <link rel="apple-touch-icon" href="images/zone-logo.svg">
        <link rel="apple-touch-icon" href="images/zone-logo.svg" sizes="72x72">
        <link rel="apple-touch-icon" href="images/zone-logo.svg" sizes="114x114">
    </head>
    <body class="loading">
        <div class="container">
            <a href="http://thisiszone.com" class="app__logo">
                <img src="images/zone-logo.svg" alt="Zone" width="70" height="70">
            </a>
            <div class="app" ng-controller="EntriesCtrl">
                <h1 class="app__title">Easy lookup <strong>web accessibility guidelines</strong></h1>

                <p class="app__intro">A web app which provides succinct interpretations of the WCAG 2.0 spec with optional filters for priority level and discipline. We have inlcuded some of our own criterion too and welcome any suggestions and feedback.</p>

                <div class="app__loader">Loading guide data...</div>

                <div class="content" ng-cloak>
                    <div class="form">
                        <p><input type="text" placeholder="Enter a search term e.g. forms" ng-model="search.criteria"></p>
                        <p><span class="select"><select ng-model="search.levels">
                            <option value="">Any level</option>
                            <option ng-repeat="level in levels" value="{{level}}">{{level}}</option>
                        </select></span><span class="select"><select ng-model="search.departments">
                            <option value="">Any department</option>
                            <option ng-repeat="department in departments" value="{{department}}">{{department}}</option>
                        </select></span></p>
                    </div>

                    <ul class="pagination" ng-show="totalItems">
                        <li>
                            <button type="button" class="pagination__button pagination__button--prev" ng-disabled="currentPage == 1" ng-click="currentPage=currentPage-1">Previous</button>
                        </li>
                        <li class="pagination__location">Page {{currentPage}} of {{noOfPages}}<br><span class="pagination__matches">{{totalItems}} matching {{ totalItems == 1 ? 'item' : 'items' }}</span></li>
                        <li>
                            <button type="button" class="pagination__button pagination__button--next" ng-disabled="currentPage >= noOfPages" ng-click="currentPage = currentPage+1">Next</button>
                        </li>
                    </ul>

                    <div class="results">
                        <article class="criteria" ng-repeat="item in filteredEntries = (entries | filter:search.levels:exactOrEmpty | filter:search) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                            <h2 class="criteria__description" ng-bind-html="item.criteria | highlight:search.criteria">{{item.criteria}}</h2>
                            <p class="criteria__ref" ng-if="item.ref !== null">Spec Ref: {{item.ref}}</p>
                            <p ng-if="item.url !== ''"><a href="{{item.url}}">{{item.url}}</a></p>
                            
                            <ul class="criteria__levels">
                                <li ng-repeat="level in item.levels" class="criteria__level criteria__level--{{level | lowercase}}">{{level}}</li>
                            </ul>

                            <ul class="tags criteria__departments">
                                <li ng-repeat="department in item.departments" class="criteria__department">{{department}}</li>
                            </ul>
                        </article>

                        <p class="results__empty" ng-hide="totalItems">Sorry, no criteria found. <button type="button" ng-click="resetFilters()">Clear the filters?</button></p>
                    </div>

                    <ul class="pagination" ng-show="totalItems">
                        <li>
                            <button type="button" class="pagination__button pagination__button--prev" ng-disabled="currentPage == 1" ng-click="currentPage=currentPage-1">Previous</button>
                        </li>
                        <li class="pagination__location">Page {{currentPage}} of {{noOfPages}}<br><span class="pagination__matches">{{totalItems}} matching {{ totalItems == 1 ? 'item' : 'items' }}</span></li>
                        <li>
                            <button type="button" class="pagination__button pagination__button--next" ng-disabled="currentPage >= noOfPages" ng-click="currentPage = currentPage+1">Next</button>
                        </li>
                    </ul>

                    <footer class="app__footer">
                        <p>JavaScript is required to load this guide.<br>Alternatively, you can <a href="data.json">download the guide</a> as JSON.</p>
                        <p><strong>Disclaimer: </strong>This web app does not attempt to be a substitute for <a href="http://www.w3.org/TR/WCAG20/">the official W3C Web Content Accessibility Guidelines</a>.</p>
                    </footer>
                </div>
            </div>
        </div>
        <script src="dist/scripts/app.js"></script>
    </body>
</html>
