<!DOCTYPE html>
<!--[if lt IE 9]><html lang="en" data-ng-app="accessibilityApp" class="ie-old"><![endif]-->
<!--[if IE 9]><html lang="en" data-ng-app="accessibilityApp" class="ie-9"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en" data-ng-app="accessibilityApp"><!--<![endif]-->
    <head>
        <meta charset="utf-8"> 
        <title>Accessibility - Zone</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" type="text/css">
        <link rel="stylesheet" href="dist/styles/app.css" type="text/css">
        <link rel="shortcut icon" href="images/favicon.ico">
        <link rel="apple-touch-icon" href="images/zone-logo.svg">
        <link rel="apple-touch-icon" href="images/zone-logo.svg" sizes="72x72">
        <link rel="apple-touch-icon" href="images/zone-logo.svg" sizes="114x114">
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
        <div class="alert">
            <div class="container">Sorry, you'll need to <a href="http://whatbrowser.org/">update your browser</a> to view this page.</div>
        </div>
        <div class="container">
            <a href="http://thisiszone.com" class="app__logo" title="Visit the Zone website">
                <img src="images/zone-logo.svg" alt="Zone" width="70" height="70">
            </a>
            <div class="app" data-ng-controller="EntriesCtrl">
                <h1 class="app__title">Easy lookup <strong>web accessibility guidelines</strong></h1>

                <p class="app__intro">We want the process of making an accessible website easier. These guidelines contain all of the criteria that we feel suffice to ensure a website can be used by every kind of user. It's aligned closely with the WCAG 2.0 spec*, includes some of RNIB's Surf Right standard and some of our own too.</p>
                <p>Search by priority level, department or keyword and get a succinct explanation of the relevant criteria. Comments and feedback welcome.</p>

                <div class="app__loader">Loading guide data...</div>

                <div class="content" data-ng-cloak>
                    <div class="form" aria-label="Filter">
                        <p>
                        <label for="form-search-free-text">Search by term</label>
                        <input type="text" placeholder="Enter a search term e.g. forms" data-ng-model="search.criteria" aria-label="Enter a search term e.g. form" id="form-search-free-text"></p>
                        <p aria-label="Filter by">
                            <span class="select">
                                <label for="form-search-level">Search by priority level</label>
                                <select data-ng-model="search.levels" id="form-search-level">
                                    <option value="">Any level</option>
                                    <option data-ng-repeat="level in levels" value="{{level}}">{{level}}</option>
                                </select>
                            </span>
                            <span class="select">
                            <label for="form-search-dept">Search by skill or department</label>
                                <select data-ng-model="search.departments" id="form-search-dept">
                                    <option value="">Any department</option>
                                    <option data-ng-repeat="department in departments" value="{{department}}">{{department}}</option>
                                </select>
                            </span>
                        </p>
                    </div>

                    <nav aria-label="Pagination">
                        <ul class="pagination" data-ng-show="totalItems">
                            <li>
                                <button type="button" class="pagination__button pagination__button--prev" data-ng-disabled="currentPage == 1" data-ng-click="currentPage=currentPage-1">Previous</button>
                            </li>
                            <li class="pagination__location">Page {{currentPage}} of {{noOfPages}}<br><span class="pagination__matches">{{totalItems}} matching {{ totalItems == 1 ? 'item' : 'items' }}</span></li>
                            <li>
                                <button type="button" class="pagination__button pagination__button--next" data-ng-disabled="currentPage >= noOfPages" data-ng-click="currentPage = currentPage+1">Next</button>
                            </li>
                        </ul>
                    </nav>

                    <div class="results" aria-live="polite">
                        <article class="criteria" data-ng-repeat="item in filteredEntries = (entries | filter:search.levels:exactOrEmpty | filter:search) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                            <h2 class="criteria__description" data-ng-bind-html="item.criteria | highlight:search.criteria">{{item.criteria}}</h2>
                            
                            <div data-ng-show="item.refs.length">
                                Spec Ref: 
                                <ul class="criteria__refs">
                                    <li data-ng-repeat="ref in item.refs" data-ng-switch="ref.url" class="criteria__ref">
                                        <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/Overview.html" data-ng-click="visit($event, ref.url)" data-ng-switch-default target="_blank">{{ref.number}}</a><span data-ng-switch-when="">{{ref.number}}</span>
                                    </li>
                                </ul>
                            </div>

                            <ul class="tags criteria__departments">
                                <li data-ng-repeat="department in item.departments" class="criteria__department">{{department}}</li>
                            </ul>

                            <ul class="criteria__levels">
                                <li data-ng-repeat="level in item.levels" class="criteria__level criteria__level--{{level | lowercase}}">{{level}}</li>
                            </ul>
                        </article>

                        <p class="results__empty" data-ng-hide="totalItems">Sorry, no criteria found. <button type="button" data-ng-click="resetFilters()">Clear the filters?</button></p>
                    </div>

                    <nav aria-label="Pagination">
                        <ul class="pagination" data-ng-show="totalItems">
                            <li>
                                <button type="button" class="pagination__button pagination__button--prev" data-ng-disabled="currentPage == 1" data-ng-click="currentPage=currentPage-1">Previous</button>
                            </li>
                            <li class="pagination__location">Page {{currentPage}} of {{noOfPages}}<br><span class="pagination__matches">{{totalItems}} matching {{ totalItems == 1 ? 'item' : 'items' }}</span></li>
                            <li>
                                <button type="button" class="pagination__button pagination__button--next" data-ng-disabled="currentPage >= noOfPages" data-ng-click="currentPage = currentPage+1">Next</button>
                            </li>
                        </ul>
                    </nav>

                    <footer class="app__footer">
                        <p>JavaScript is required to load this guide. Alternatively, you can <a href="data.json">download the guide</a> as JSON.</p>
                        <p>Conceived and produced by <a href="http://www.thisiszone.com" target="_blank">Zone</a><br />
                        Please submit comments and suggestions via <a href="https://github.com/zone/zwag" target="_blank">Github</a>
                        </p>

                        <h3 class="app__sub-title">Disclaimer</h3>
                        <p>The Zone Web Accessibility Guidelines are not a substitute for the <a href="http://www.w3.org/TR/WCAG20/" target="_blank">W3C Web Content Accessibility Guidelines</a>.<br />This data is largely based on <a href="https://www.rnib.org.uk/about-rnib/web-accessibility-statement" target="_blank">RNIB's Surf Right standard</a>.</p>
                    </footer>
                </div>
            </div>
        </div>
        <script src="dist/scripts/app.js"></script>
    </body>
</html>
