$gutter: 2rem;
$color-purple: #424297;
$color-aqua: #1EB1A9;
$color-grey: #f0f0f0;
$color-dark-grey: #323230;

$color__aaa: #149668;
$color__aa: #09bcb8;
$color__a: #059693;
$color__zone: $color-purple;
$color__srbp: #0c6583;

@font-face {
    font-family: 'icomoon';
    src:url('../../fonts/icomoon.eot');
    src:url('../../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/icomoon.woff') format('woff'),
        url('../../fonts/icomoon.ttf') format('truetype'),
        url('../../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
    color: $color-dark-grey;
    font-family: 'Open Sans', 'Arial';
    line-height: 1.4;
}

img {
    display: block;
}

a {
    color: lighten($color-purple, 20%);
    text-decoration: none;
    transition: color .3s;

    &:hover {
        color: $color-purple;
    }
}

p {
    margin-bottom: 1em;
}

p:last-child {
    margin-bottom: 0;
}

.container {
    max-width: 960px;
    padding: 0 $gutter;
    margin: 0 auto;
}

.highlight {
    display: inline-block;
    padding: 0 .2rem;
    margin: 0 -.2rem;

    background-color: $color-aqua;
    color: #fff;
}

.visually-hidden {
    position: absolute;
    left: -999em;
}
